:root {
  --site-color: #410606;
}

body {
  background-color: #cea8a8;
  margin: 0px;
}
body {
  background-color: #cea8a8;
  margin: 0px;
}
.container {
  margin-top: -25px;
}
.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  transition: 1s;
}
.circle:hover {
  width: 280px;
  height: 280px;
  transition: 1s;
}
.circle img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
h3 {
  text-align: center;
  margin-top: 10px;
  color: #fff;
}
header {
  background-color: #410606;
  color: #fff;
  padding: 1rem;
}
.jumbotron {
  background-color: #cea8a8;
  color: #fff;
  text-align: center;
  padding: 2rem;
}
.jumbotron h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.jumbotron p {
  font-size: 1.5rem;
}
.row {
  background-color: #410606;
  padding: 2rem;
  text-align: center;
}
#enter {
  position: absolute;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  background-color: #643f3f;
  color: white;
  font-size: 18px;
  box-shadow: #410606;
}
#enter:hover {
  background-color: #410606;
  transition: 1s;
}

.form-label {
  font-size: 25px;
}
aside {
  border-right: 3px solid #410606;
}
.recepie-search {
  width: 100%;
}
.add-button {
  background-color: #643f3f;
  color: white;
  width: 110px;
  height: 30px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-button:hover {
  background-color: #410606;
  transition: 1s;
}
.input-group {
  margin-top: 20px;
}
.input-group-append {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
/* .list-group{
    border: 1px solid  #410606;
    border-radius: 5px;
} */
.list-group h3 {
  font-size: 22px;
}
.list-container {
  margin-top: 5px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.list-group-item i {
  display: none;
  color: #7c4444;
}
.list-group-item:hover i {
  display: block;
}

.recipe_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button-enter {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.modal-header {
  background-color: #410606;
}
.modal-title {
  color: #fff;
  font-size: 35px;
}
.close {
  color: white;
  font-size: 35px;
}
.close:hover {
  color: white;
}
.close span:hover {
  color: white;
}

.image-container {
  display: flex;
  justify-content: center;
  background: white;
}
.image-container img {
  width: 100%;
  height: 80%;
}
.modal-body h2 {
  color: #410606;
  font-size: 30px;
}
#ingredients-list li{
  
  font-size: 18px;

}
.method{
  background: #410606;

  display: flex;
  justify-content: center;
}
#modal-method{
  color: white;
  font-size: 30px;
}
.recipe-steps h3{
  color: #410606;
  font-size: 25px;
}
.recipe-steps p{
  font-size: 18px;
}
.close-button{
  background-color: #643f3f;
  color: white;
}
.close-button:hover{
  background: #410606;

}
footer {
  position: absolute;
  width: 531px;
  height: 29px;
  background: #410606;
}


.card {
  width: 32.33%;
  float: left;
  text-align: center;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2px;
  font-family: arial;
  text-align: center;
  height: 325px;
  }

.card-body {
  padding: 2px 16px;


}

img {
  width: auto;
  height: auto; /* this line added to keep aspect ratio */
}

.btn {
  border: none;
  outline: 0;
  display: block;
  padding: 8px;
  color: white;
  background-color: #410606;
  text-align: center;
  cursor: pointer;

}

.btn:hover {
  background-color: #555;
}

.btn-primary {
  position: absolute;
  padding: 5px;
  bottom: 0;
  left: 0;  
  padding: 8px;
  color: white;
  background-color: #410606;
  width: 100%;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #555;
}

.container-fluid {
  margin-top: 25px;
}

/* Fixes the ingredients search bar from overlapping the recipe UI*/

@media (min-width: 992px) {
  .col-lg-3 {
    max-width: 100%;
}
}

footer {
  color: white;
  width: 100%;
  background: var(--site-color);
  height: auto;
  text-align: center;
}