body {
    background-color: #CEA8A8;
    margin: 0px;
  }
  body {
    background-color: #CEA8A8;
    margin: 0px;
  }
.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    transition: 1s;
 }
 .circle:hover{
    width: 280px;
    height: 280px;
    transition: 1s;
 }
.circle img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
h3 {
  text-align: center;
  margin-top: 10px;
  color: #fff;
}
header {
    background-color: #410606;
    color: #fff;
    padding: 1rem;
  }
.jumbotron {
  background-color: #CEA8A8;
  color: #fff;
  text-align: center;
  padding: 2rem;
}
.jumbotron h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.jumbotron p {
  font-size: 1.5rem;
}
.row {
  background-color: #410606;
  padding: 2rem;
  text-align: center;
}
#enter {
  position: absolute;
  width: 105px;
  height: 50px;
  background: #D9D9D9;
  }

.form-label{
    font-size: 25px;
}
aside{
    border-right: 3px solid #410606;;
}
.recepie-search{
    width: 100%;
}
.add-button{
    background-color:#643f3f;;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-group-append{
    margin-top: 10px;
}

footer {
position: absolute;
width: 531px;
height: 29px;
background: #410606;
}

